extends layout

block content
  h1 Add Employee
  form(action='/addEmployee' method='post')
    label(for='name') Name:
    input(type='text' name='name' required)
    br
    br
    br
    label(for='name') salary :
    input(type='text' name='salary' required)
    br
    br
    br
    label(for='position') Position:
    input(type='text' name='position' required)
    br
    br
    br
    label(for='department') Department:
    input(type='text' name='department' required)
    br
    br
    br
    input(type='submit' value='Add Employee')
