body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: aqua;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  a {
    text-decoration: none;
    color: #3498db;
  }
  
  a:hover {
    text-decoration: underline;
  }

  input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    color: red;
}
form {
  display: block;
  margin-top: 10px;
}
